.nav a {
	color: white;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}
	
.nav li {
	display: inline;
}

#nav_extra{
	border-bottom: 2px solid;
	border-radius: 10px; 
	border-color: #DC3522;
	background-color: #374140;
}
	
.jumbotron {
	background-image: url("images/image1.jpg");
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1150px;
	height: 400px;
}
	
.jumbotron .container {
	position: relative;
	top:100px;
}

.jumbotron h1 {
	color: #DC3522;
	font-size: 48px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.jumbotron p {
	font-size: 20px;
	color: #DC3522;
}

.neighborhood-guides {
	border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
	color: #393c3d;
	font-size: 24px;
}

.neighborhood-guides p {
	font-size: 15px;
	margin-bottom: 13px;
}

.learn-more {
	background-color: #2A2C2B;
	height: 155px;
	color: white;
}

.learn-more h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #DC3522;
}
	
.learn-more a {
	color: #DC3522;
}
fieldset {
	border: 0;
	padding: 0;
}

#main_extra{
	margin-top: 5px;
	border: 2px solid;
	border-radius: 15px;
	border-color: #DC3522;
	margin-bottom: 5px;
	background-color: #374140;
}

.step_headers {
	font-family: 'Shift', sans-serif;
	font-size: 35px;
	font-weight: bold;
	color: #DC3522;
}

#step_2_title {
	font-family: 'Shift', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #DC3522;
	text-decoration: none;
}
#left {
	margin-bottom: 10px;
	margin-top: 5px;
        width: 570px;
        float: left;
	color: white;
}
#left-border {/*
	padding: 7px;
	border: 2px solid;
	border-radius: 20px;*/
}
    
#right {
	margin-bottom: 10px;
	margin-top: 5px;
	margin-left: 2.5px;
	margin-right: 5px;
	position: relative;
        margin-left: 575px;
	color: white;
}
#right-border{/*
	padding: 7px;
	border: 2px solid;
	border-radius: 20px;*/
}

.clear{
        clear: both;
}
