/*
 * Authors: Delan Diaz, Muzammel Choudhery, Alex Sadeghi, Christian Lewcyzk
 * CMPS115 Team Skyy Project
 * Cost-Divider App
*/

#loading {
	display: none;
}

.nav a {
	color: white;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}
	
.nav li {
	display: inline;
}

#nav_extra{
	/* previous RED color: DC3522  */
	border-bottom: 2px solid;
	border-radius: 10px; 
	border-color: #26ADE4;
	background-color: #374140;
}

	
.jumbotron {
	background-image: url("images/blue_dot.jpg");
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1145px;
	height: 400px;
}
	
.jumbotron .container {
	position: relative;
	top:100px;

}

.jumbotron h1 {
	color: #26ADE4;
	font-size: 48px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.jumbotron p {
	font-size: 20px;
	color: #26ADE4;
}

.cost-divider-form {
	border-bottom: 1px solid #dbdbdb;
}

.cost-divider-form h2 {
	color: #393c3d;
	font-size: 24px;
}

.cost-divider-form p {
	font-size: 15px;
	margin-bottom: 13px;
}

.learn-more {
	background-color: #2A2C2B;
	height: 155px;
	color: white;
}

.learn-more h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #26ADE4;
}
	
.learn-more a {
	color: #26ADE4;
}
fieldset {
	border: 0;
	padding: 0;
}

#main_extra{
	margin-top: 5px;
	border: 2px solid;
	border-radius: 15px;
	border-color: #26ADE4;
	margin-bottom: 5px;
	background-color: #374140;
}

.step_headers {
	font-family: 'Shift', sans-serif;
	font-size: 35px;
	font-weight: bold;
	color: #26ADE4;
}

.inner_large{
	padding-top: 5px;
	padding-bottom: 10px;
	font-family: 'Shift', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #26ADE4;
}

#left {
	margin-bottom: 10px;
	margin-top: 5px;
        width: 570px;
        float: left;
	color: white;
}
#left-border {/*
	padding: 7px;
	border: 2px solid;
	border-radius: 20px;*/
}
    
#right {
	margin-bottom: 10px;
	margin-top: 5px;
	margin-left: 2.5px;
	margin-right: 5px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
        margin-left: 575px;
	color: white;
}
#right-border{/*
	padding: 7px;
	border: 2px solid;
	border-radius: 20px;*/
}

.clear{
        clear: both;
}

#singular{
	display: none;
}

#cont_lower{
	position: relative;
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 1150px;
	text-align: center;
	color: white;
	padding-bottom: 5px;
}

#small_text{
	font-size: 12px;
}

#extra404{
	/* previous RED color: DC3522  */
	padding-top: 15px;
	border-bottom: 2px solid;
	border-radius: 10px; 
	border-color: #26ADE4;
	background-color: #374140;
}
